<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ansible Demo Page</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #F0F0F0;
        margin: 0;
        padding: 0;
      }
      
      header {
        background-color: #ED1C24;
        color: #FFFFFF;
        text-align: center;
        padding: 20px;
        margin-bottom: 20px;
      }
      
      header img {
        max-width: 100%;
        height: auto;
      }
      
      h1 {
        margin: 0;
        font-size: 36px;
      }
      
      footer {
        background-color: #333333;
        color: #FFFFFF;
        text-align: center;
        padding: 20px;
      }
      
      footer p {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <header>
    <img src="logo-rh-ansible-automation.png" alt="Red Hat Ansible Automation Logo">
      <h1>Ansible Demo Page</h1>
      <p>{{ apache_test_message }}</p>
      <p>{{ ansible_fqdn }}</p>
    </header>
    <main>
      <p>This is a demo page created with Ansible. It shows that Ansible can be used to automate the deployment of web servers and web applications.</p>
      <p>The content of this page is generated dynamically by Ansible, including the message at the top of the page and the hostname displayed in the header.</p>
      <p>Ansible is a powerful and flexible tool that can help automate many IT tasks, from server configuration to application deployment and beyond. Learn more at <a href="https://www.ansible.com/">ansible.com</a>.</p>
    </main>
    <footer>
      <p>&copy; 2023 Ansible by Red Hat. Generated by {{ inventory_hostname }}</p>
    </footer>
  </body>
</html>